<header>
    <!-- Topbar -->
    <div class="topbar border-bottom">
            <div class="row text-sm-center text-md-center text-lg-start mx-3">
                <div class="col-lg-6 col-md-12">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> 032 82 975 02</li>
                            <li><i class="ti-email"></i> tojoramaroson5@gmail.com</li>
                        </ul>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="float-lg-end float-md-none">
                        <ul class="list-main">
                            <li><i class="ti-location-pin"></i> Vente en ligne</li>
                            <li><i class="ti-user"></i> <a href="#">Mon profil</a></li>
                            <li><i class="ti-power-off"></i><a href="login.html#">Se connecter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div class="container py-md-3 navbar-shop">
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/images/logo.png" alt="logo">
            </div>
            <div class="col-md-5">
                <form class="input-group ms-md-5">
                    <input name="search" placeholder="Recherche de produit....." type="search" class="form-control">
                    <button class="btn btn-dark"><i class="ti-search"></i></button>
                </form>
            </div>
            <div class="col-md-4 text-center">
                <ul class="float-lg-end float-md-none" style="margin-top: revert;">
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
                    <li>
                        <a href="#" class="single-icon">
                            <i class="ti-bag"></i> 
                            <span class="total-count">2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
       <nav class="navbar navbar-expand-lg bg-dark">
           <div class="container">

                <div class="categorie ps-4">
                    <h5 class="text-white"><i class="fa fa-bars me-3" aria-hidden="true"></i><b>CATEGORIES</b></h5>
                    <ul class="main-category shadow">
                        <li class="p-3 parent">
                            <a href="#">Maison <i class="fa fa-arrow-circle-right float-end text-orange" aria-hidden="true"></i></a>
                            <ul class="children">
                                <li class="p-3"><a href="#">Meuble</a></li>
                                <li class="p-3"><a href="#">Déco</a></li>
                                <li class="p-3"><a href="#">Electroménager</a></li>
                                <li class="p-3"><a href="#">Matériel utilitaire</a></li>
                            </ul>
                        </li>
                        <li class="p-3 parent"><a href="#">High Tech <i class="fa fa-arrow-circle-right float-end text-orange" aria-hidden="true"></i></a>
                            <ul class="children">
                                <li class="p-3"><a href="#">Informatique</a></li>
                                <li class="p-3"><a href="#">Télévision</a></li>
                                <li class="p-3"><a href="#">Smartphones</a></li>
                                <li class="p-3"><a href="#">Photo & Vidéo</a></li>
                                <li class="p-3"><a href="#">Accessoires</a></li>
                            </ul>
                        </li>
                        <li class="p-3 parent">
                            <a href="#">Mode <i class="fa fa-arrow-circle-right float-end text-orange" aria-hidden="true"></i></a>
                            <ul class="children">
                                <li class="p-3"><a href="#">Homme</a></li>
                                <li class="p-3"><a href="#">Femme</a></li>
                                <li class="p-3"><a href="#">Enfant & Bébé</a></li>
                            </ul>
                        </li>
                        <li class="p-3"><a href="#">Nourriture</a></li>
                        <li class="p-3"><a href="#">Santé & Beauté</a></li>
                    </ul>
                </div>
               <button class="navbar-toggler" style="background-color: #F7941D;color: white;" type="button" data-bs-toggle="collapse"
                   data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                   aria-label="Toggle navigation">
                   <i class="fa fa-bars me-3" aria-hidden="true"></i>
               </button>
               <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       <li class="nav-item active">
                           <a class="nav-link" aria-current="page" href="#" routerLink="/">Accueil</a>
                       </li>
                       <li class="nav-item">
                            <a class="nav-link" href="#">Mes Achats</a>
                        </li>
                       <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="/panier">Mon Panier</a>
                        </li>
                       <li class="nav-item">
                           <a class="nav-link" href="#">Contact</a>
                       </li>
                   </ul>
               </div>
           </div>
       </nav>
</header>

<section class="slide">
    <div class="d-none d-md-block">
            <div class="hero-text">
                <h1><span>JUSQU'À 50% DE RÉDUCTION</span> <br> Chemise Pour Homme</h1>
                <p>Vente en ligne ds qfdsq<br> odiy maboriosm.</p>
                <div class="button">
                    <a href="#" class="btn btn-dark">
                        Achetez maintenant!
                    </a>
                </div>
            </div>
    </div>        
</section>