

<section class="mt-4 container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
            <div class="single-banner">
                <img src="../../assets/images/chemise.webp" alt="#">
                <div class="content">
                    <p>Man's Collectons</p>
                    <h3>Collection de voyage d'été</h3>
                    <a href="#">Découvrir maintenant</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="single-banner">
                <img src="../../assets/images/chemise.webp" alt="#">
                <div class="content">
                    <p>Bag Collectons</p>
                    <h3>Sac génial <br></h3>
                    <a href="#">Achetez maintenant</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="single-banner tab-height">
                <img src="../../assets/images/chemise.webp" alt="#">
                <div class="content">
                    <p>Flash Sale</p>
                    <h3>Jusqu'à 40&nbsp;% de remise en mi-saison</h3>
                    <a href="#">Découvrir maintenant</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h2>Tout</h2>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="carde">
                <img src="../../assets/images/sac_bandouliere5.jpg" alt="shop" width="100%" height="100%">
                <div class="button-head">
                    <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Vu" href="#"><i class=" ti-eye"></i></a>
                        <a title="J'aime" href="#"><i class=" ti-heart "></i></a>
                        <a href="#"><i class="ti-bar-chart-alt"></i></a>
                    </div>
                    <div class="product-action-2">
                        <a title="Ajouter dans le panier" href="#">AJOUT PANIER</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="carde">
                <img src="../../assets/images/UA70AU7000UXFE.jpg" alt="shop" width="100%" height="100%">
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="carde">
                <img src="../../assets/images/chaussure_homme1.jpg" alt="shop" width="100%" height="100%">
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="carde">
                <img src="../../assets/images/BF512011.jpg" alt="shop" width="100%" height="100%">
            </div>
        </div>
    </div>
</div>
